
table {
	width: 100%;
}

table, td, th {
	border: 1px solid green;
}

th, td {
	padding: 50px;
}

td.normalCellColorCss {
	background-color: #FFFFFF;
}

td.targetCellColorCss {
	background-color: #336600;
}
