
table {
	
}

td {
	padding: 10px;
	border: 1px solid green;
}

td.normalCellColorCss, table.normalCellColorCss {
	background-color: #FFFFFF;
	pointer-events: none;  /* To disable event of js, use property auto to enable */
}

td.targetCellColorCss {
	background-color: #336600;
}

.btn {
	border-radius: 0.5px;
}

pure-button[disabled], .pure-button-disabled, .pure-button-disabled:hover, .pure-button-disabled:focus, .pure-button-disabled:active {
	background-image: none;
	border: 0 none;
	box-shadow: none;
	cursor: not-allowed;
	/*opacity: 0.4;*/
}